{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "describe": true,
    "beforeEach": true,
    "inject": true,
    "it": true,
    "expect": true
  },
  "rules": {
    "eqeqeq": "error",
    "curly": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-negated-in-lhs": "error",
    "no-obj-calls": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "block-scoped-var": "error",
    "dot-location": [1, "property"],
    "no-empty-function": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-fallthrough": "error",
    "no-implied-eval": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-native-reassign": ["error", {"exceptions": ["Object"]}],
    "no-redeclare": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-useless-concat": "error",
    "radix": "error",
    "strict": ["error", "global"],
    "no-catch-shadow": "error",
    "no-undef-init": "error",
    "no-use-before-define": "error",
    "array-bracket-spacing": "error",
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["error", {properties: "always"}],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "eol-last": "error",
    "indent": ["error", 4],
    "jsx-quotes": ["warn", "prefer-single"],
    "key-spacing": ["error", { "beforeColon": false }],
    "keyword-spacing": ["error", { "before": true }],
    "new-parens": "error",
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "operator-linebreak": ["error", "before"],
    "quote-props": ["error", "always"],
    "quotes": ["error", "single", {"avoidEscape": true}],
    "semi": "error",
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always"],
    "unicode-bom": ["error", "never"],
    "wrap-regex": "error"
  }
}
