<section id="home" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" ng-show="hasGraph">
                <div class="col-md-2">
                    <h4>Select capture</h4>
                    <div class="list-group">
                        <button type="button" ng-class="{'active': element.subject === currentSubject}" ng-click="showGraph($index)" class="list-group-item list-group-item-action" ng-repeat="element in graphElements track by $index">
                            <i class="fa fa-arrow"></i> {{element.subject.split(" ")[0]}}
                        </button>
                    </div>
                </div>
                <div class="col-md-10 bordered">
                    <button ng-if="currentSubject !== '' && graphContainer" class="btn btn-md btn-default pos-absolute top-right" style="z-index: 99999;" ng-click="downloadGraph()"><i class="fa fa-download"></i> Download</button>
                    <div class="pos-absolute top-left applications-class">
                        <i><strong>{{numberOfPings}}</strong> messages sent <br />
                        from {{currentSubject.split(" ")[1]}}<i>
                    </div>
                    <div class='my-legend pos-absolute bottom-left'>
                        <div class='legend-title'>
                            Number of messages exchanged
                        </div>
                        <div class='legend-scale'>
                            <ul class='legend-labels'>
                                <li><span style='background:#a6b6bf;'></span>1</li>
                                <li><span style='background:#026ba8;'></span>2 - 10</li>
                                <li><span style='background:#9c5917;'></span>10 - 50</li>
                                <li><span style='background:#4f1704;'></span>50 - 100</li>
                                <li><span style='background:#a80202;'></span>> 100</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="hasGraph" id="container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
